ul {
    padding-left: 0;
}

li {
    font-size: 20px;
    width: 12.5%;
    float: left;
    height: 115px;
    text-align: center;
    border: 1px solid #fff;
    list-style: none;
    background-color: #f9f9f9;

    .user-info{
        display: block; 
    }

    .glyphicon-user{
        display: inline-block ;
        margin-top: 15px !important;
        margin-bottom: 10px !important;
        font-size: 24px !important;
    }
}

.padding-bottom-small {
    padding-bottom: 27px;
}

.margin-top-large {
    margin-top: 30px;
}

.ui-widget-header {
    background-image: none !important;
    background-color: #BDBDBD !important;
}

.ui-progressbar-value{
    height: 150% !important;
}

.green{
    color: #01DF01;
}

.red{
    color: #DF0101;
}
